.brand {
	z-index: 1;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 22px;
}

.ant-layout-sider-trigger {
	height: 67px !important;
}

.ant-layout-sider-zero-width-trigger {
	z-index: 2 !important;
}

.sidebar-menu {
	margin-top: 15px;
}

.ant-menu {
	overflow: auto;
}

.ant-layout-header {
	height: 72px;
}

.brand .logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.brand .logo img {
	width: 36px;
	filter: invert(22%) sepia(100%) saturate(6984%) hue-rotate(278deg)
		brightness(100%) contrast(91%);
}

.brand .logo h1 {
	margin-left: 8px;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 700;
	/* color: #1890ff; */
	white-space: nowrap;
	background-image: -webkit-gradient(
		linear,
		37.219838% 34.532506%,
		36.425669% 93.178216%,
		from(#9b1fe8),
		to(#0a60ff),
		color-stop(0.37, #9b1fe8)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
